// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$color-amber: #ffd500;

body,
html {
    margin: 0px;
}

body {
    height: 100%;
    font-family: "Montserrat";
}

header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // width: calc(100% - 2em);
    // background: white;

    a {
        text-decoration: none;
        color: white;
    }

    a.logo {
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        li a {
            padding: 1em;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: auto;

    section {
        padding: 2em;

        h1,
        h2,
        .read-btn {
            text-transform: uppercase;
        }

        h1 {
            font-size: 2.4rem;
        }

        h2 {
            font-size: 1.4rem;
        }

        .read-btn {
            color: black;
            font-weight: bold;
            display: block;
            text-decoration: none;
            background: url("../../public/svg/chevron-right.svg") no-repeat;
            background-size: 16px;
            background-position: 0 2px;
            padding-left: 1.2em;
        }

        .primary-btn {
            padding: 1.5em 1.5em 1.5em calc(2em + 20px);
            background-position: 2em 1.75em;
            border: 1px solid lightblue;
            display: inline-block;
            margin-top: 2em;
            margin-left: -2.1em;
            color: white;
            fill: lightblue;
        }

        .clipper {
            overflow: hidden;
        }
    }

    section.main {
        padding-top: 8em;
        // padding-bottom: 4em;
        background: url("../../public/img/dev-group.jpg");
        background-size: cover;
        color: white;

        p {
            width: 70%;
            font-size: 1.0rem;
            margin-bottom: 0;
        }
    }

    section.featured,
    section.subscribe {
        font-size: 0.8rem;
        line-height: 1.6em;
    }

    section.featured {
        background: $color-amber;

        .read-btn {
            margin-top: 2em;
            display: block;
            // background-color: black;
            background-position: 0 1px;
        }
    }

    section.subscribe {
        input {
            width: calc(100% - 2em);
            padding: 1em;
            font-family: "Montserrat";
            margin-bottom: 1em;
        }

        button {
            width: calc(100% - 2em);
            padding: 1em;
            border: none;
            color: white;
            background: black;
            margin-bottom: 1em;
        }
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 960px) {
    header {
        background: none;

        nav ul {
            li a {
                color: black;
            }
        }
    }

    .wrapper {
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "main featured"
            "main subscribe";
        height: 100vh;
    }

    section.main {
        grid-area: main;
    }

    // section.featured {
    //     padding-top: 4em;
    // }
    section {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
    }
}
