@import url("https://fonts.googleapis.com/css?family=Montserrat");
body,
html {
  margin: 0px;
}

body {
  height: 100%;
  font-family: "Montserrat";
}

header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

header a.logo {
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  padding: 1em;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.wrapper section {
  padding: 2em;
}

.wrapper section h1,
.wrapper section h2,
.wrapper section .read-btn {
  text-transform: uppercase;
}

.wrapper section h1 {
  font-size: 2.4rem;
}

.wrapper section h2 {
  font-size: 1.4rem;
}

.wrapper section .read-btn {
  color: black;
  font-weight: bold;
  display: block;
  text-decoration: none;
  background: url("../../public/svg/chevron-right.svg") no-repeat;
  background-size: 16px;
  background-position: 0 2px;
  padding-left: 1.2em;
}

.wrapper section .primary-btn {
  padding: 1.5em 1.5em 1.5em calc(2em + 20px);
  background-position: 2em 1.75em;
  border: 1px solid lightblue;
  display: inline-block;
  margin-top: 2em;
  margin-left: -2.1em;
  color: white;
  fill: lightblue;
}

.wrapper section .clipper {
  overflow: hidden;
}

.wrapper section.main {
  padding-top: 8em;
  background: url("../../public/img/dev-group.jpg");
  background-size: cover;
  color: white;
}

.wrapper section.main p {
  width: 70%;
  font-size: 1.0rem;
  margin-bottom: 0;
}

.wrapper section.featured,
.wrapper section.subscribe {
  font-size: 0.8rem;
  line-height: 1.6em;
}

.wrapper section.featured {
  background: #ffd500;
}

.wrapper section.featured .read-btn {
  margin-top: 2em;
  display: block;
  background-position: 0 1px;
}

.wrapper section.subscribe input {
  width: calc(100% - 2em);
  padding: 1em;
  font-family: "Montserrat";
  margin-bottom: 1em;
}

.wrapper section.subscribe button {
  width: calc(100% - 2em);
  padding: 1em;
  border: none;
  color: white;
  background: black;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 960px) {
  header {
    background: none;
  }
  header nav ul li a {
    color: black;
  }
  .wrapper {
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    -ms-grid-rows: 60% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: "main featured" "main subscribe";
    height: 100vh;
  }
  section.main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: main;
  }
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=app.css.map */